'name': 'LilyPond-notenames'
'patterns': [
  {
    'content': 'LilyPond notes and durations (German)'
    'match': '\\b(aisih|aisis|ceseh|ceses|cisih|cisis|deseh|deses|disih|disis|eisih|eisis|feseh|feses|fisih|fisis|geseh|geses|gisih|gisis|heseh|heses|hisih|hisis|asah|asas|aseh|ases|eseh|eses|aeh|aih|ais|ceh|ces|cih|cis|deh|des|dih|dis|eeh|eih|eis|feh|fes|fih|fis|geh|ges|gih|gis|heh|hih|his|ah|as|eh|es|a|b|c|d|e|f|g|h|q|r|R|s)(,|\')*(\\?|!)?((128|64|32|16|8|4|2|1|\\breve|\\longa|\\maxima)\\.*((\\*\\d+(\\/\\d+)?)+)?)?'
    'captures':
      '1':
        'name': 'keyword.note.name.lilypond'
      '2':
        'name': 'keyword.note.octave.lilypond'
      '3':
        'name': 'keyword.note.accidental.lilypond'
      '4':
        'name': 'keyword.note.duration.lilypond'
  }
]
'scopeName': 'source.lilypond-notenames'
